.cardItemProductContainer {
  display: flex;
  gap: 52px;

  background-color: white;
  padding: 48px;
  border-radius: 16px;
  flex-direction: column;
}
.frontDataProduct > img {
  display: flex;

  object-fit: cover;
  object-position: top;
  border-radius: 16px;

  flex: 0 1 300px;
}
.data-row {
  display: flex;
  flex-direction: column;
  gap: 52px;

  flex: 0 1 450px;

  align-items: center;
  justify-content: center;
}

.dataProduct,
.counterPrice {
  width: 100%;
}
.frontDataProduct {
  display: flex;

  gap: 32px;
  width: 100%;

  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.dataProduct {
  display: flex;
  flex-direction: column;
  gap: 42px;

  width: 100%;
}
.titleProduct {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.titleProduct h3 {
  font-size: 26px;
}
.titleProduct p {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}
.productsColorContainer {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  width: 90%;

  align-items: flex-start;
}
.productColor {
  display: flex;
  width: auto;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 50px;
}
.productColorName {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50px;
  font-size: 12px;
}
.productColorCircle {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.descriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.descriptionContainer h6 {
  font-size: 20px;
}
.descriptionContainer h6 {
  font-size: 20px;
}

.counterPrice {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 350px;
}

.counterPrice .price {
  font-size: 18px;
  font-weight: 600;
}

.price small {
  font-size: 18px;
  font-weight: 400;
}

.descriptionImage {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
