.buttonPrimary {
    border: none;
    background-color: rgba(255, 108, 191, 0.296);
    color: rgb(162, 0, 146);
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    font-variant: small-caps;
    transition: ease 0.3s all;
    font-weight: 600;
  }
  
  .buttonPrimary:hover {
    background-color: black;
    color: white;
    transition: ease 0.3s all;
    cursor: pointer;
  }
  
  .buttonSecondary {
    border: none;
    background: none;
    border: 1.6px solid rgb(162, 0, 146);
    height: 32px;;
    color: rgb(162, 0, 146);
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    font-variant: small-caps;
    transition: ease 0.3s all;
    font-weight: 600;
  }
  
  .buttonSecondary:hover {
    cursor: pointer;
  }