.itemError-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.itemError-container h4 {
  color: rgb(255 75 75);
  background-color: white;
  padding: 8px;
  border-radius: 7px;
}
.itemError-container img {
  max-width: 450px;
  max-height: 450px;
}
